<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div>
        <button><a href="">Delete the user</a></button>
    </div>
    <div>
        <button><a href="login.html">Login</a></button>
    </div>
    <h2>Signup form</h2>
    <form action="" method="post">
        <input type="text" placeholder="Enter your username" name="username">
        <input type="email" placeholder="Enter your email" name="email">
        <input type="password" placeholder="Enter your password" name="password">
        <input type="submit" value="Sign up" name="signup">
    </form>
</body>
</html>